@charset "utf-8";

@media screen and (min-width: 768px){
    .material-symbols-outlined { 
        display: none;
    }

    nav > p {
        display: none;
    }

    .img {
        display:block
    }

    .img2 {
        display: none;
    }

    .menu {
        display: flex;
        padding-left: 60px;
        padding-top: 50px;
    }
    .menu2 > ul > li {
        display: inline-block;
        justify-content: center;
        padding-left: 50px;
    }
    .menu2 > ul {
        width: auto;
        background-color: var(--rosafundo);
    }
    .menu2 > ul > li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-top: 40px;       
        text-decoration: none;
        background-color: var(--rosafundo);
       
        
    }
       
    main > div > .img {
        background-color: var(--rosafundo);
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-top: 85px;
        min-width: none;
        max-width: 550px;
    }
    main > div > .Textos {
        background-color:var(--rosafundo);
        padding-top: 40px;
        padding-left: 60px;
        min-width: 280px;
        max-width: 600px;
        justify-content: left;
    
    }
    main > div > div > article { 
        align-items: flex-end;
        
    }
    main > .Justificar {
        display: flex;
    }

}

    
