@charset "utf-8";

@media screen and (min-width: 768px){
    .material-symbols-outlined { 
        display: none;
    }

.img {
    display:block
}
.img2 {
    display: none;
}
    nav> div > img{
        padding-left: 60px;
        padding-right: 50px;  
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: var(--rosafundo);
        display: flex;
    }
    .menu {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 150px;
        padding-top: 50px;
    
    }
    .menu > ul > li {
        display: inline-flex;
        justify-content: right;
    }
    
    .menu > ul > li > a {
    padding-left: 20px;
    display: inline block;
    }

    
    main > div > .img {
        background-color: var(--rosafundo);
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-top: 85px;
        min-width: none;
        max-width: 550px;
    }
    main > div > .Textos {
        background-color:var(--rosafundo);
        padding-top: 40px;
        padding-left: 60px;
        min-width: 280px;
        max-width: 600px;
        justify-content: left;
    
    }
    main > div > div > article { 
        align-items: flex-end;
        
    }
    main > .Justificar {
        display: flex;
    }

}

    
