@charset "utf-8";

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
}


@font-face{
    font-family: 'Poppins Medium';
    src: url('../fontes/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
}


@font-face{
    font-family: 'Nunito Extra light';
    src: url('../fontes/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}


*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color:var(--rosafundo)

}
body > nav > div > ul > span {
    padding-left: 30px;
}

nav{
    color: #595959;
    font-family:var(--FontPoppinsMedium) ;
}


:root{
    --rosafundo: #f7f7f7;
    --rosamedio: #F294C0;
    --rosaescuro: #F15992;
    --cinzaclaro: #808080;
    --cinzaescuro: #4A4A4A;

    --FontPoppins: 'Poppins',cursive;
    --FontPoppinsMedium: 'Poppins Medium', cursive;
    --FontNunito: 'Nunito Extra light', cursive;
}
main > .Justificar {
    display: flex;
}
main > div > .Textos {
    background-color:var(--rosafundo);
    padding-top: 40px;
    padding-left: 100px;
    min-width: 280px;
    max-width: 700px;
    justify-content: left;

}
main > div > div > h2 {
    color:var(--cinzaescuro);
    font-family: var(--FontPoppinsMedium);
    font-size: 42px;
    

       
}

main > div > div > article { 
    color:var(--cinzaescuro);
    font-family: var(--FontNunito);
    font-size: 18px;
    padding-top: 20px;
    line-height: 22px;
    text-align: justify;
    align-items: flex-end;
    
}

main > div > .img {
    background-color: var(--rosafundo);
    display: flex;
    justify-content: center;
    padding-left: 20px;
    min-width: none;
    max-width: 500px;
}

.Nav{
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: var(--rosafundo);
}
nav> div> img{
    padding-left: 100px;
    padding-right: 50px;
    
}


nav > div > menu {
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    text-decoration: none;
    transition-duration: .5s;
    
}

nav a:hover{
    color: var(--rosaescuro);
}

footer > p {
    font-family: var(--FontNunito);
    padding-top: 10px;
    background-color:var(--rosafundo);
    size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

footer > h2 {
    font-family: var(--FontPoppinsMedium);
    size: 10px;
    text-align: center;
}
footer > .img {
    background-color:var(--rosafundo);
    padding-top: 150px;
    padding-bottom: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > .links {
padding-bottom: 200px;
display: flex;
justify-content: center;
align-items: center;
}
footer > .links > a {
    margin: 20px;
}
